header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 44px;
    z-index: 18;
    background-color: transparent;
    transition: all .5s;
    &.fixed-menu {
      background-color: #ffffff;
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: 0 0 30px -10px rgba(0,0,0,0.1);
      transition: all .5s;
      .logo {
        background: url("../img/logo-black.svg") no-repeat center center;
        width: 100px;
        height: 40px;
        transition: all .4s;
      }
      nav {
        .btn-contato {
          color: #26bda2;
          transition: all .3s;
        }
        .menu-button {
          .menu-icon {
            background-color: #26bda2;
            transition: all .3s;
            &:before,
            &:after {
              background-color: #26bda2;
              transition: all .3s;
            }
          }
        }
      }
    }
    .logo {
        display: block;
        width: 134px;
        height: 53px;
        background: url("../img/logo.svg") no-repeat center center;
        background-size: 100% !important;
        transition: all .4s;
    }
    nav {
        .btn-contato {
            color: #ffffff;
            font-size: 15px;
            font-weight: 600;
            margin-right: 28px;
            text-decoration: none;
            transition: all .3s;
            &:hover {
              color: #26bda2;
              transition: all .3s;
            }
        }
    }
    @media(max-width: 1050px) {
      padding: 18px 0px;
      nav {
        .btn-contato {
          display: none;
        }
      }
    }
    @media(max-width: 480px) {
      .logo {
        width: 99px !important;
        height: 39px !important;
      }
    }
}

.menu-opened {
  overflow: hidden;
  aside {
    transform: translate3d(0, 0, 0);
    pointer-events: all;
    opacity: 1;
    transition: all .5s;
  }
  header {
    background-color: transparent;
    box-shadow: none;
    .logo {
      background: url("../img/logo.svg") no-repeat center center;
    }
    nav {
      .btn-contato {
        opacity: 0;
        pointer-events: none;
        transition: all .4s;
      }
      .menu-button {
        .menu-icon {
          background-color: #ffffff;
          transition: all .3s;
          &:before,
          &:after {
            background-color: #ffffff;
            transition: all .3s;
          }
        }
      }
    }
  }
}

aside {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: url("../img/bg-aside.svg") no-repeat #0f0119 center center;
  background-size: cover;
  transform: translate3d(50px, 0, 0);
  pointer-events: none;
  opacity: 0;
  transition: all .5s;
  .cont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 813px;
    margin: 0 auto;
  }
  .list-contato {
    li {
      margin-bottom: 73px;
      a {
        display: flex;
        img {
          margin-right: 29px;
        }
        span {
          color: #ffffff;
          font: normal 400 24px/25px 'Montserrat';
        }
      }
    }
  }
  .social {
    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    ul {
      display: flex;
      li {
        margin-left: 25px;
        &:first-child {
          margin-left: 0px;
        }
        a {
          i {
            color: #ffffff;
            font-size: 23px;
          }
        }
      }
    }
  }
  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    pointer-events: none;
  }
  @media(max-width: 1050px) {
    .cont {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
  @media(max-width: 480px) {
    .list-contato {
      li {
        margin-bottom: 40px;
        a {
          flex-direction: column;
          align-items: center;
          img {
            margin-right: 0px;
            margin-bottom: 15px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


.menu-button {
    display: block;
    width: 26px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  a.menu-button:hover .menu-icon,
  a.menu-button:hover .menu-icon::after {
    width: 26px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon {
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: relative;
    float: right;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before,
  .menu-icon::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before {
    margin-top: -8px;
    width: 26px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::after {
    margin-top: 8px;
    width: 26px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon {
    height: 0;
    width: 26px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::after {
    width: 26px;
    transform: rotate(45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::before {
    transform: rotate(-45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }